@font-face {
    font-family: 'iCielAstrolight_Roman';
    src: url(../fonts/iCielAstrolight-Roman.ttf) format("opentype");
}

@font-face {
    font-family: 'iCielStormtrooper_Regular';
    src: url(../fonts/iCielStormtrooper-Regular.ttf) format("opentype");
}

@font-face {
    font-family: 'SVN_GilroyBold';
    src: url(../fonts/SVN-Gilroy_Bold.ttf) format("opentype");
}

@font-face {
    font-family: 'NotoSerifBold';
    src: url(../fonts/NotoSerif-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSerifBoldItalic';
    src: url(../fonts/NotoSerif-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSerifItalic';
    src: url(../fonts/NotoSerif-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'NotoSerifRegular';
    src: url(../fonts/NotoSerif-Regular.ttf) format('truetype');
}

.header {
    position: relative;
}

footer {
    width: 650px;
    margin: auto;
    margin-top: 30px;
    border-top: 2px solid black;
    line-height: 1.8;
    font-family: 'NotoSerifRegular';
}

footer .col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}

footer .fb-left {
    text-align: right;
    padding-top: 15px;
}

footer .fb-right {
    padding-top: 15px;
    padding-left: 10px;
}

.logo img {
    padding: 5px;
    display: block;
    width: 120px;
}

.hg-58 {
    height: 43px;
    width: 100%;
}

.border-des-1 {
    border: 2px solid #eea121;
    margin-top: 43px;
    margin-bottom: 43px;
    position: relative;
    width: 300px;
    float: right;
    margin-top: 204px;
}

.description-img {
    text-align: center;
}

.border-des-1:before {
    content: "";
    background-image: url(../image/nhay.png);
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 36px;
    height: 29px;
    display: block;
    position: absolute;
    left: -18px;
    top: -10px;
    background-color: white;
}

.border-des-2 .des p {
    font-size: 26px;
}

.border-des-2 .des p.hd-hd {
    font-size: 16px;
    margin-top: 20px;
}

.description-img .img {
    text-align: left;
}

.border-des-2 .vien {
    text-align: left;
}

.border-des-2 .vien .vien-30 {
    margin-top: 10px;
    display: inline-block;
    width: 60px;
    text-align: center;
    border: 2px solid #d38e0d;
}

.content-important .border-des-1 {
    float: none;
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
}

.content-important p.hd-hd {
    margin-top: 0px;
}

.border-des-2 {
    margin: 1px;
    border: 1px solid #eea121;
    padding: 20px;
}

.border-des-1:after {
    content: "";
    background-image: url(../images/nhay2.png);
    background-position: bottom right;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 36px;
    height: 29px;
    display: block;
    position: absolute;
    right: -18px;
    bottom: -10px;
    background-color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    img {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    footer {
        width: auto;
    }
    footer .fb-left {
        float: left;
        width: 50%;
    }
    footer .fb-right {
        float: left;
        width: 50%;
    }
    .title-content {
        padding-top: 10px;
    }
    .title-content {
        font-size: 20px;
    }
    .vien-50 {
        width: 100px;
    }
    .vien .vien-30 {
        width: 70px;
    }
    .des-content .top {
        font-size: 20px;
    }
    .des-content .bottom {
        font-size: 25px;
    }
    .border-des-1 {
        margin: 0px;
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .content-important .border-des-1 {
        margin-left: 0px;
        margin-right: 0px;
    }
    .img-fb img {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
    }
}

.logo.nav-down {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background: white;
}


/* new style */


/* header body */

@media (min-width: 0px) and (max-width: 777px) {
    .content-header {
        width: 320px;
        background-image: linear-gradient(to bottom, #f7f4f4, #e0dfdf);
        box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.5);
        margin-top: 0.4%;
        margin: 0 auto;
        text-align: -webkit-right;
    }
    .text_title {
        font-family: iCielAstrolight_Roman;
        font-size: 66px;
        font-weight: 300;
        letter-spacing: 4.4px;
        text-align: left;
        color: #232323;
        margin-left: 5.7%
    }
    .text_title .text_style_1 {
        letter-spacing: 3.8px;
    }
    .text_title_seconse {
        font-family: iCielStormtrooper_Regular;
        font-size: 33px;
        line-height: 1.5;
        letter-spacing: 2.8px;
        text-align: left;
        color: #8b033f;
        margin-top: -3%;
        margin-left: 10%;
    }
    .ic_women {
        width: 96px;
        object-fit: contain;
        margin-top: -53%;
        margin-right: 43%;
    }
    .iv_man {
        width: 242px;
        object-fit: contain;
        opacity: 0.5;
    }
    .header_right {
        text-align: center;
    }
    .header_left {
        float: left;
        width: 100%;
    }
}

@media (min-width: 778px) and (max-width: 1337px) {
    .content-header {
        width: 1000px;
        background-image: linear-gradient(to bottom, #f7f4f4, #e0dfdf);
        box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.5);
        margin-top: 0.4%;
        margin: 0 auto;
        text-align: -webkit-right;
    }
    .text_title {
        height: 168px;
        font-family: iCielAstrolight_Roman;
        font-size: 103px;
        font-weight: 300;
        letter-spacing: 4.4px;
        text-align: left;
        color: #232323;
        margin-left: 5.7%;
    }
    .text_title .text_style_1 {
        letter-spacing: 3.8px;
    }
    .text_title_seconse {
        width: 584px;
        font-family: iCielStormtrooper_Regular;
        font-size: 44px;
        line-height: 1.5;
        letter-spacing: 2.8px;
        text-align: left;
        color: #8b033f;
        margin-top: -11%;
        margin-left: 13%;
    }
    .ic_women {
        width: 132px;
        object-fit: contain;
        margin-top: -35%;
        margin-right: 49%;
    }
    .iv_man {
        width: 352px;
        object-fit: contain;
        opacity: 0.5;
    }
    .header_right {
        margin-left: -7%;
        margin-top: 4%;
        float: left;
    }
    .header_left {
        float: left;
        width: 58%;
    }
}

@media (min-width: 1338px) {
    .content-header {
        width: 1338px;
        /* opacity: 0.1; */
        background-image: linear-gradient(to bottom, #f7f4f4, #e0dfdf);
        box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.5);
        margin-top: 0.4%;
        margin: 0 auto;
        text-align: -webkit-right;
    }
    .text_title {
        height: 168px;
        font-family: iCielAstrolight_Roman;
        font-size: 139px;
        font-weight: 300;
        letter-spacing: 4.4px;
        text-align: left;
        color: #232323;
        margin-left: 5.7%
    }
    .text_title .text_style_1 {
        letter-spacing: 3.8px;
    }
    .text_title_seconse {
        width: 808px;
        height: 360px;
        font-family: iCielStormtrooper_Regular;
        font-size: 80px;
        line-height: 1.5;
        letter-spacing: 2.8px;
        text-align: left;
        color: #8b033f;
        margin-top: -3%;
        margin-left: 10%;
    }
    .ic_women {
        width: 196px;
        height: 201px;
        object-fit: contain;
        margin-top: -21%;
        margin-right: 37%;
    }
    .iv_man {
        width: 577px;
        height: 514px;
        object-fit: contain;
        opacity: 0.5;
    }
    .header_right {
        margin-left: -7%;
        margin-top: 6%;
        float: left;
        width: 49%;
    }
    .header_left {
        float: left;
        width: 58%;
    }
}

.bg_transparent {
    background: transparent;
    width: 100%;
}


/* body */

.container {
    position: relative;
}

body {
    background-color: #ffffff;
}

@media (min-width: 0px) and (max-width: 777px) {
    .text_title_body_s {
        width: 62px;
        height: 112px;
        font-family: iCielStormtrooper_Regular;
        font-size: 100px;
        text-align: top;
        color: #8b033f;
        margin-top: -8%;
        float: left;
    }
    .header_title_image {
        margin-top: 11%;
    }
}

@media (min-width: 778px) {
    .text_title_body_s {
        width: 62px;
        height: 112px;
        font-family: iCielStormtrooper_Regular;
        font-size: 100px;
        text-align: top;
        color: #8b033f;
        margin-top: -2%;
        float: left;
    }
}

.text_title_body {
    font-family: SVN_GilroyBold;
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
    color: #000000;
    margin-left: 8%;
    margin-bottom: 4%;
}

.text_italic {
    font-family: NotoSerifBoldItalic;
    font-size: 16px;
    font-weight: bold;
    text-align: justify;
    color: #000000;
}

.text_content {
    font-family: NotoSerifRegular;
    font-size: 16px;
    line-height: 1.69;
    text-align: justify;
    color: #000000;
}

.content {
    margin-top: 2%;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}


/*see more  */

@media (min-width: 0px) and (max-width: 777px) {
    .see_more {
        width: 300px;
        background-color: #eeeeee;
        float: left;
        margin-bottom: 3%;
        padding: 2%;
        margin-right: 1%
    }
    .iv_see_more {
        width: 42.4%;
        object-fit: contain;
        float: left;
        margin-top: 4%;
    }
    .title_see_more {
        font-family: NotoSerifBold;
        font-size: 14px;
        font-weight: bold;
        text-align: justify;
        color: #4a4a4a;
        text-align: left;
    }
    .text_see_more {
        font-family: NotoSerifRegular;
        height: 64px;
        font-size: 11px;
        text-align: justify;
        color: #1e1e1e;
        text-align: left;
        /* white-space: nowrap; */
        overflow: -webkit-paged-y ;
        text-overflow: ellipsis;
    }
    .content_see_more {
        width: 51.8%;
        float: left;
        margin-left: 5.7%;
    }
}

@media (min-width: 778px) {
    .see_more {
        width: 522px;
        background-color: #eeeeee;
        float: left;
        margin-bottom: 3%;
        padding: 2%;
        margin-right: 1%
    }
    .iv_see_more {
        width: 35.4%;
        height: 137px;
        object-fit: contain;
        float: left;
    }
    .title_see_more {
        font-family: NotoSerifBold;
        font-size: 18px;
        font-weight: bold;
        text-align: justify;
        color: #4a4a4a;
        text-align: left;
    }
    .text_see_more {
        height: 66px;
        font-family: NotoSerifRegular;
        font-size: 14px;
        text-align: justify;
        color: #1e1e1e;
        text-align: left;
    }
    .content_see_more {
        width: 51.8%;
        float: left;
        margin-left: 5.7%;
    }
}


/* images */

.iv_h9 {
    background: url(../images/iv-h-9.png);
}

.iv_h8 {
    background: url(../images/iv-h-8.png);
}

.iv_h6 {
    background: url(../images/iv-h-6.png);
}

.iv_h3 {
    background: url(../images/iv-h-3.png);
}

.iv_in_text {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (min-width: 0px) and (max-width: 777px) {
    .image {
        width: 300px;
        height: 200px;
        margin: 0 auto;
    }
    .content_image {
        width: 90%;
        font-family: SVN_GilroyBold;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
    .sign_content {
        width: 144px;
        height: 61px;
        font-family: iCielAstrolight_Roman;
        font-size: 30px;
        font-weight: 300;
        text-align: left;
        color: #ffffff;
        margin-top: -6%;
    }
    div.absolute {
        position: absolute;
        top: 31%;
        right: 0;
        margin-left: 40%;
    }
}

@media (min-width: 778px) and (max-width: 1023px) {
    .image {
        width: 690px;
        height: 360px;
        margin: 0 auto;
    }
    .content_image {
        width: 80%;
        font-family: SVN_GilroyBold;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
    .sign_content {
        width: 144px;
        height: 61px;
        font-family: iCielAstrolight_Roman;
        font-size: 36px;
        font-weight: 300;
        text-align: left;
        color: #ffffff;
    }
}

@media (min-width: 1024px) {
    .image {
        width: 990px;
        height: 660px;
        margin: 0 auto;
    }
    .content_image {
        width: 100%;
        font-family: SVN_GilroyBold;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
    }
    .sign_content {
        width: 144px;
        height: 61px;
        font-family: iCielAstrolight_Roman;
        font-size: 50px;
        font-weight: 300;
        text-align: left;
        color: #ffffff;
    }
}

div.relative {
    position: relative;
}

@media (min-width: 720px) {
    div.absolute {
        position: absolute;
        top: 52%;
        right: 0;
        margin-left: 40%;
    }
}

@media (min-width: 0px) and (max-width: 1024px) {
    .image_general {
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .sign_h8_content {
        margin-top: -4%;
    }
}

@media (min-width: 1024px) {
    .image_general {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .iv_h1_add_position {
        margin-left: -10%;
    }
}

@media (min-width: 0px) and (max-width: 777px) {
    .iv_h1 {
        width: 100%;
        object-fit: contain;
    }
    .iv_h2 {
        width: 92%;
        object-fit: contain;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .iv_h4 {
        width: 92%;
        object-fit: contain;
    }
    .iv_h5 {
        width: 100%;
        object-fit: contain;
    }
    .image_h5 {
        width: 100%
    }
}

@media (min-width: 778px) and (max-width: 1024px) {
    .iv_h1 {
        width: 100%;
        object-fit: contain;
    }
    .iv_h2 {
        width: 536px;
        ;
        object-fit: contain;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .iv_h4 {
        width: 536px;
        object-fit: contain;
    }
    .iv_h5 {
        width: 291px;
        object-fit: contain;
    }
}

@media (min-width: 1025px) {
    .iv_h1 {
        width: 1440px;
        object-fit: contain;
    }
    .iv_h2 {
        width: 990px;
        object-fit: contain;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .iv_h4 {
        width: 990px;
        object-fit: contain;
    }
    .iv_h5 {
        width: 491px;
        object-fit: contain;
    }
}

.image_general_div {
    margin: 0 auto;
    text-align: center;
}

.position_h8 {
    margin-right: 39%;
}

@media (min-width: 1250px) {
    .image_h5 {
        margin-top: 50px;
        height: 1000px
    }
    .text_align_image {
        width: 50%;
        float: left;
        margin-right: 30px;
    }
}

@media (min-width: 1250px) {
    .see_more_user {
        margin: 0%;
        font-family: NotoSerifRegular;
        font-size: 24px;
        text-align: center;
        color: #000000;
    }
    .line {
        position: relative;
        top: 50%;
        height: 2px;
        border: solid 1px #979797;
    }
    .see_more_parent {
        position: relative;
        height: 40px;
        width: 43%;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}

@media (min-width: 0px) and (max-width:320px) {
    .see_more_big {
        margin-left: 6%;
    }
    .see_more_user {
        margin: 0%;
        width: 221px;
        font-family: NotoSerifRegular;
        font-size: 14px;
        text-align: center;
        margin-top: 2%;
        color: #000000;
        float: left;
    }
    .line {
        position: relative;
        top: 50%;
        width: 15px;
        height: 2px;
        float: left;
        border: solid 1px #979797;
    }
    .see_more_parent {
        position: relative;
        height: 30px;
        width: 290px;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}

@media (min-width: 320px) and (max-width:777px) {
    .see_more_big {
        margin-left: 6%;
    }
    .see_more_user {
        margin: 0%;
        width: 221px;
        font-family: NotoSerifRegular;
        font-size: 16px;
        text-align: center;
        margin-top: 2%;
        color: #000000;
        float: left;
    }
    .line {
        position: relative;
        top: 50%;
        width: 15px;
        height: 2px;
        float: left;
        border: solid 1px #979797;
    }
    .see_more_parent {
        position: relative;
        height: 40px;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}

@media (min-width: 778px) and (max-width:1249px) {
    .see_more_user {
        margin: 0%;
        font-family: NotoSerifRegular;
        font-size: 18px;
        text-align: center;
        margin-top: 2%;
        color: #000000;
        float: left;
    }
    .line {
        position: relative;
        top: 50%;
        height: 2px;
        float: left;
        border: solid 1px #979797;
    }
    .see_more_parent {
        position: relative;
        height: 40px;
        width: 400px;
        margin-top: 2%;
        margin-bottom: 4%;
    }
}